<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Evaluate a News Article with NLP</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>

        <header>
            <h1>Natural Language Processing</h1> 
        </header>

        <main>
            <section>
                <form class="" onsubmit="return client.handleSubmit(event)">
                    <label for="url">Article URL</label>
                    <input id="url" type="text" name="input" value="" placeholder="URL">
                    <input id="submit" type="submit" name="" value="submit" onsubmit="return client.handleSubmit(event)">
                </form>

                <div id="results"></div>
                
            </section>
        </main>

        <footer>
            <p>powered by <a href="https://aylien.com/text-api/"><strong>ALIEN ANALYSIS API</strong></a></p>
            <p>Natural Language Processing for Effective Understanding of Human-Generated Text</p>
        </footer>

    </body>
</html>
